.inputs {
  margin-top: 30px;
  border-radius: 10px;
}

body {
  background-image: url(https://s1.1zoom.ru/big0/540/USA_Houses_Skyscrapers_New_York_City_Manhattan_513855_1280x720.jpg);
}

.name {
  border-radius: 8px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.LastName {
  border-radius: 8px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.Photo {
  border-radius: 8px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.btnAdd {
  border-radius: 8px;
  display: block;
  margin: auto;
}
